*.iml
.gradle
.kotlin
/local.properties
local.properties
/.idea/
.DS_Store
/build
build/
*/build/
app/build/
.build-outputs/
/captures
.externalNativeBuild
.cxx
.env
debug.keystore
debug.keystore.base64
*.apk
*.aab

